.dataAboutME {
    display: flex;
    flex-direction: column;
    align-items: center; /* Keep the center alignment for the whole data section */
    gap: 10px;
    width: 100%;
}

.avatar-container {
    display: flex;
    justify-content: flex-start; /* Align avatar to the left */
    margin-bottom: 20px;
    width: 100%; /* Ensure it uses the full width */
    padding-left: 10px; /* Add padding if needed to adjust the left spacing */
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 16px;
}

.full-width {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.info-label {
    font-weight: bold;
}

.info-value {
    padding-top: 4px;
}

.align-right {
    float: right;
    margin-top: 10px; /* Adjust as needed */
}
